body {
  font-family: "Poppins", sans-serif;
}

.card-body h5 p {
  width: 20%;
  
}

.card-body{
    line-height: 2rem;
    height: 50%;
    text-align: center;
    padding: 8px;
}

img {
    align-items: center;
    justify-content: center;
    width:  500%;
    height: 500%;
    object-fit: cover;
}
