{% extends 'base.html' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>

    {% block styles %}
        {{ super() }}
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" type="text/css">
    {% endblock %}

        {% block body %}

        <div class="header-icon">
            <img src="../static/images/news.svg" alt="">
        </div>
        
        <div class="header-title">
           <h1> Global News Highlights</h1>
        </div>

        <br>

        {% for source in sources %}
        <div class="card w-50 text-center card-body">
            <div class="card" style="width: 18rem;">
                <img src="{{ source.urlToImage }}" class="card-img-top img-fluid" alt="...">
            </div>
                <div class="card-body">
                  <h5 class="card-title h1">{{source.title}}</h5>
                  <p class="card-text h4">{{ source.description }}</p>
                </div>
                <div class="card-footer text-muted">
                    <p class="h4">Published by: {{ source.name }}</p> 
                </div>
                <div class="card-footer text-muted">
                    <p >Published on: {{ source.publishedAt }}</p> 
                </div>
                  <a href="{{ source.url }}" class="btn btn-primary">Go to article</a>       
        </div>
        <br>
        <br>
        <br>
          {% endfor %}

        {% endblock %}
    </body>
</html>